body {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
}

footer {
    padding: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header, section, footer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-image: url('https://telegra.ph/file/b16a052711b5cf569e72d.jpg');
    background-size: cover; /* atau background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px; /* Sesuaikan padding sesuai kebutuhan */
}

section {
    margin-top: 20px;
}

button {
    background-color: #eb1414;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ec1371;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}